/* slider */
#slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.sliderwrap {
  width: 400%;
  height: 620px;
  display: flex;
}
.slider {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider.s1 {
  background-image: url(../assert/slider/slider1.jpg);
}
.slider.s2 {
  background-image: url(../assert/slider/slider2.jpg);
}
.slider.s3 {
  background-image: url(../assert/slider/slider3.jpg);
}
.slider_btn button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
  font-family: cursive;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  transition: all 0.2s;
  display: block;
  color: var(--point);
}
.slider_btn button.prev {
  left: 80px;
}
.slider_btn button.next {
  right: 80px;
}

/* today */
#today {
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 20px;
}
#today p {
  font-size: 18px;
}
#today span {
  font-family: var(--bold);
}

/* attraction */
#attracion {
  padding-top: 50px;
  background-image: url(../assert/news.svg);
}
#attracion h1 {
  text-align: center;
  font-size: 25px;
}
#attracion span {
  font-family: var(--bold);
}
.tab_menu .tab_btn ul {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.tab_menu .tab_btn ul li {
  padding: 0px 10px;
}
.tab_menu .tab_btn ul li a {
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid var(--point);
}
.tab_menu .tab_btn ul li a.tab_active {
  background-color: var(--point);
}
.tab_cont img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}
.tab_cont {
  width: 80%;
  margin: 0 auto;
}
.tab_cont ul {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tab_cont ul li {
  padding: 20px;
  position: relative;
}
.tab_cont .background {
  width: 220px;
  height: 220px;
  background-color: #00000075;
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 50%;
}
.tab_cont .attraction_text {
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.tab_cont .attraction_text h3 {
  font-family: var(--bold);
  font-size: 20px;
  color: #fff;
}
.tab_cont .attraction_text p {
  padding-top: 10px;
  color: #fff;
}

/* event */
#event {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  padding-bottom: 100px;
}
#event h1 {
  text-align: center;
  font-size: 25px;
}
#event > h1 > span {
  font-family: var(--bold);
}
.e_sliderwrap {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.e_slider_img {
  overflow: hidden;
}
.e_slider_inner {
  display: flex;
  flex-wrap: wrap;
  width: 2700px;
}
.e_slider img {
  width: 900px;
  object-fit: cover;
}
.event_text {
  text-align: center;
  padding-top: 20px;
}
.event_text span {
  font-size: 13px;
  color: #9b9b9b;
}
.event_text h3 {
  font-size: 30px;
  font-family: var(--bold);
  color: var(--point);
}
.event_text p {
  padding-top: 10px;
  font-size: 18px;
}
.e_slider_btn a {
  position: absolute;
  bottom: 50px;
  font-size: 15px;
  font-family: cursive;
  font-weight: 900;
  text-align: center;
  line-height: 1.3;
  transition: all 0.2s;
  display: block;
  padding: 5px 8px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--point);
  border-radius: 50%;
  color: var(--point);
}
.e_slider_btn a.e_prev {
  left: 600px;
}
.e_slider_btn a.e_next {
  right: 600px;
}
.e_slider_side1 {
  width: 200px;
  position: absolute;
  left: 10%;
  bottom: 130px;
}
.e_slider_side2 {
  width: 250px;
  position: absolute;
  right: 10%;
  top: 100px;
}

/* discount */
#discount {
  width: 100%;
  padding-top: 50px;
  position: relative;
  padding-bottom: 130px;
  background-image: url(../assert/discount.svg);
}
#discount h1 {
  text-align: center;
  font-size: 25px;
}
#discount > h1 > span {
  font-family: var(--bold);
}
#discount ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
#discount ul li {
  margin: 10px 20px;
  padding: 10px 20px;
  background-color: #fff;
  position: relative;
  border-radius: 30px;
  border: 1px solid var(--gray);
}
#discount ul li:hover {
  scale: 1.1;
  z-index: 99;
  box-shadow: 0px 0px 50px var(--point);
}
#discount img {
  width: 200px;
}
#discount .background {
  width: 200px;
  height: 110px;
  background-color: #fff;
}
#discount .background span {
  position: absolute;
  bottom: 75px;
  left: 25px;
  font-size: 13px;
  color: #9b9b9b;
}
#discount .background h3 {
  width: 195px;
  display: flex;
  flex-wrap: wrap;
  font-size: 19px;
  font-family: var(--bold);
  padding-top: 50px;
  padding-left: 5px;
}
#discount .background p {
  font-size: 17px;
}
#discount .more_item {
  display: none;
}
#discount button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--point);
  padding: 10px 50px;
  border-radius: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 1400px) {
  /* slider */
  .sliderwrap {
    height: 500px;
  }

  /* event */
  .e_sliderwrap {
    width: 700px;
  }
  .e_slider_inner {
    width: 2100px;
  }
  .e_slider img {
    width: 700px;
    height: 390px;
  }
  .e_slider_btn a.e_prev {
    left: 400px;
  }
  .e_slider_btn a.e_next {
    right: 400px;
  }
}

@media screen and (max-width: 1000px) {
  /* slider */
  .sliderwrap {
    height: 300px;
  }
  .slider_btn button {
    font-size: 50px;
  }
  .slider_btn button.prev {
    left: 50px;
  }
  .slider_btn button.next {
    right: 50px;
  }

  /* event */
  .e_sliderwrap {
    width: 500px;
  }
  .e_slider_inner {
    width: 1500px;
  }
  .e_slider img {
    width: 500px;
    height: 281px;
  }
  .event_text {
    width: 500px;
  }
  .event_text h3 {
    font-size: 20px;
  }
  .event_text p {
    padding-top: 5px;
    font-size: 12px;
  }
  .e_slider_btn a.e_prev {
    left: 300px;
  }
  .e_slider_btn a.e_next {
    right: 300px;
  }
  .e_slider_side1 {
    width: 150px;
  }
  .e_slider_side2 {
    width: 150px;
  }
}
